.container{
  text-align: center;
  margin-top: 10%;
}

h1,h4{
  color: rgb(127, 127, 110);
}

input {
  width: 20px;
}

.quantity{
  width: 65px;
  position: relative;
  left: 750px;
  border-radius: 15px; 
  box-shadow: 5px 10px 10px 10px rgb(127, 127, 110) inset;
}